.scrolling-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.scrolling-content {
  display: flex;
  width: calc(4 * (5 * 250px + 4 * 2rem)); /* 4 * (5 cards * width + 4 * gap) */
  gap: 2rem;
  animation: scroll 80s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

.scrolling-wrapper:hover .scrolling-content {
  animation-play-state: paused;
} 