# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Virtual environments
venv/
ENV/
env/
.venv/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store

# VSCode/IDE
.vscode/
.idea/